.myProject {
    width: 270px;
    height: 400px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.photo {
    background-color: #ffffff;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
    width: 100%;
}

.description {
    height: 20%;
    width: 100%;
}