.skills {
    min-height: 100vh;
    background-color: #252527;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (min-width: 760px) {
    .mySkills {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
    }
}
@media (max-width: 760px) {
    .container {
        width: 100%;
    }

    .mySkills {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

}