.header{
    height: 50px;
    background-color: #252527;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 2;
}

@media (max-width: 760px) {
    .container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 760px) {
    .container{
        width: 80%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

