.footer {
    padding: 10px;
    background-color: #252527;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 760px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .networks {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }
}

@media (min-width: 761px) {
    .footer {
        height: 300px;
    }

    .container {
        height: 70%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .networks {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

