.contacts{
    background-color: #b1e1c5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

@media (max-width: 760px) {
    .conteiner {
        height: 65%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 761px) {
    .contacts{
        height: 100vh;
    }

    .conteiner {
        height: 65%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

}


.conteiner form{
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 70%;
    justify-content: space-between;
}

.conteiner form input{
    height: 80px;
}

.conteiner form textarea{
    height: 130px;
}

.conteiner>input{
    width: 140px;
    height: 40px;
}