.footer{
    height: 300px;
    background-color: #e1c26f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner {
    border: 1px solid;
    height: 70%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.networks{
    border: 1px solid;
    height: 30%;
    width: 50%;
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
