.header{
    height: 50px;
    background-color: #e1de96;
    display: flex;
    justify-content: center;
}

@media (max-width: 760px) {
    .conteiner{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 761px) {
    .conteiner{
        width: 80%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

