.contacts{
    background-color: #1f1f20;
    display: flex;
    min-height: 65vh;
    justify-content: center;
    padding: 40px 0;
}

input, button, textarea{
    margin: 0;
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form{
     display: flex;
     flex-direction: column;
     width: 400px;
     height: 70%;
     justify-content: space-between;
     align-items: center;
 }

.form form{
    margin: 0;
    padding: 0;
    left: 0;
    width: 100%;
}

.formItem{
    background: #252527 !important;
    border: 1px solid #4a4a4a;
    font-size: 12px;
    border-radius: 0;
    width: 90%;
    color: #495057;
    padding: .375rem .75rem;
}

input.formItem{
    height: 40px;

}

textarea.formItem{
    height: 130px;
}

.formContainer{
    margin-bottom: 1rem;
    width: 100%;
}

@media (max-width: 760px) {
    .container {
        width: 100%;
    }
}
@media (max-width: 450px) {
    .form{
        width: 100%;
        padding: 0;
    }
}

